<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcs.global.workspace.WorkspaceMapper">

    <select id="isCompanyActive" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM tb_company
            WHERE company_id = #{companyId}
              AND active = TRUE
        )
    </select>

</mapper>
